
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/BackendLayout.cshtml";
}
@section jsFooter{
    
<script src="~/Scripts/mustache.js"></script>
<script src="~/Assets/Admin/js/controller/InvoiceController.js"></script>
    }

<div class="row">
    <div class="col-md-12">
        @{Html.RenderPartial("SearchingForm", new DataLayer.ViewModel.Admin.Invoice.SearchingViewModel());}
        <div id="invoiceList">
            @Html.Action("InvoiceList", "Invoice", new { area = "Admin" })
        </div>
    </div>
</div>

