<div id="noTrespassingOuterBarG">
    <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
        <div class="noTrespassingBarLineG">
        </div>
    </div>
</div>
