
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="content">
    <div class="section group">
        <div class="alert alert-danger">
            <h1>Đơn hàng đã được hủy bỏ</h1>
        </div>
        <p>Hủy đơn hàng thành công từ Ngân Lương. Vui lòng <a href="/">click vào đây</a> để về trang chủ.</p>
    </div>
</div>