<div class="row" id="printable" style="display:none;">
    <div class="col-xs-12">
        <div class="col-xs-7 text-left">
            <div class="col-xs-3">
                <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9" style="margin-left:-35px;">
                <div>Công ty thương mại & dịch vụ</div>
                <div>Một thành viên <strong>Cosmetic</strong></div>
            </div>
        </div>

        <div id="divHeader" class="col-xs-5 text-right">
            <!--header of order-->
        </div>
    </div>


    <div class="col-xs-12">
        <h2 class="text-center" style="margin:45px 0; ">Thông tin đơn hàng</h2>
        <div class="col-xs-12" id="divInfoOrder-printPreview">
            <!--Info customer-->
        </div>

        <div class="col-xs-12">
            <h5 class="col-xs-offset-1" style="text-decoration: underline;">Chi tiết đơn hàng</h5>
            <table class="table" style="margin-left:23px;">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody id="divCartDetail-printPreview">
                    <!--products in cart-->
                </tbody>
                <tfoot id="divInfoPromotion-printPreview" style="border-top:2px inset;">

                </tfoot>
            </table>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-5 col-xs-offset-7 text-center">
                <div>Ngày&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tháng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Năm 2016</div>
                <strong>Người nhận</strong>
                <div>(Ký ghi rõ họ tên)</div>
            </div>

        </div>

        <div class="col-xs-12" style="margin-top:150px;">
            <p class="text-center">Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi !</p>
        </div>
    </div>
</div>



<script id="tplHeader-printPreview" type="x-tmpl-mustache">
    <div>Mã ĐH : <strong>{{OrderId}}</strong></div>
    <div>Ngày đặt : {{CreatedDate}}</div>
</script>

<script id="tplInfoOrder-printPreview" type="x-tmpl-mustache">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-3">Người nhận</label>
            <div class="col-xs-9">{{ShipName}}</div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-3">Email</label>
            <div class="col-xs-9">{{ShipEmail}}</div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-3">Địa chỉ</label>
            <div class="col-xs-9">{{ShipAddress}}</div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-3">Điện thoại</label>
            <div class="col-xs-9">{{ShipMobile}}</div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label col-xs-3">Ch.trình k.mãi</label>
            <div class="col-xs-9">{{PromotionName}}</div>
        </div>
    </div>
</script>

<script id="tplCartDetail-printPreview" type="x-tmpl-mustache">
    <tr>
        <td>{{OrderNumber}}</td>
        <td>{{ProductId}}</td>
        <td>{{ProductName}}</td>
        <td>{{Quantity}}</td>
        <td>{{Price}}</td>
    </tr>
</script>

<script id="tplInfoPromotion-printPreview" type="x-tmpl-mustache">
    <tr>
        <td colspan="4">
            <strong>Thành tiền</strong>
        </td>
        <td>
            <strong>{{Amount}}</strong>
        </td>
    </tr>

    <tr>
        <td colspan="4">Chiết khấu</td>
        <td>{{Discount}} %</td>
    </tr>

    <tr>
        <td colspan="4">Khuyến mãi</td>
        <td>{{Promotion}}</td>
    </tr>
    <tr>
        <td colspan="4">Tổng cộng</td>
        <td>
            <strong>{{Total}}</strong>
        </td>
    </tr>
</script>

