@model List<DataLayer.ViewModel.RoleViewModel>

@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Areas/Admin/Views/Shared/BackendLayout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="/Admin/Credential/Create">Thêm mới</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Quyền</th>
                                <th>Vai trò</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var id = item.RoleID + "-" + item.UserGroupID;
                                <tr id="row_@item.RoleID-@item.UserGroupID">

                                    <td>@item.RoleName</td>
                                    <td>@item.UserGroupName</td>
                                    <td>
                                        @Ajax.ActionLink("Xoá", "Delete", new { @userGroupID = item.UserGroupID,@roleID= item.RoleID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + id+ "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

