<!--modal dialog -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body" style="padding:0 15px 0 15px;">
            <p id="lblMsgConfirmYesNo">
                @{Html.RenderPartial("~/Areas/Admin/Views/Order/CreateOrder/ModalCustomer/SearchingForm.cshtml",new DataLayer.ViewModel.Admin.User.SearchingViewModel());}
                <div id="userList">
                    @Html.Action("UserListForCustomOrder", "User", new { area = "Admin" })
                </div>
            </p>
        </div>
        <div class="modal-footer">
            <button id="btnNo-modal-customer" type="button" class="btn btn-default">Đóng</button>
        </div>
    </div>
</div>

