
<div class="panel panel-info">
    <div class="panel-heading">
        <label class="control-label">Giỏ hàng</label>
        <div class="pull-right">
            Tổng cộng : &nbsp;
            <strong id="strongPrice">0</strong>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên SP</th>
                    <th>Đơn giá</th>
                    <th>SL</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody id="tbdCart"></tbody>
            <tfoot id="tftCart"></tfoot>
        </table>
    </div>
</div>


<script id="tbody-template" type="x-tmpl-mustache">
    <tr data-productid={{ProductId}}>
        <td></td>
        <td>{{Name}}</td>
        <td>{{Price}}</td>
        <td>{{Quantity}}</td>
        <td>
            <i class="fa fa-plus-square btnAdd" aria-hidden="true" style="cursor:pointer;"></i>
            <i class="fa fa-minus-square btnMinus" aria-hidden="true" style="cursor:pointer;"></i>
            <i class="fa fa-times btnRemove" aria-hidden="true" style="cursor:pointer;"></i>
        </td>
    </tr>
</script>




