
@{
    ViewBag.Title = "_401";
    Layout = "~/Areas/Admin/Views/Shared/BackendLayout.cshtml";
}

<div class="alert alert-danger text-center" style="margin-top:40px;">
    <h3>Bạn không có quyền truy cập trang này</h3>
</div> 

